@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

*{
    /* border: 1px solid red; */
}
.main-page {
    overflow: auto;
  padding: 0;
  font-family: "Rethink Sans", sans-serif;
  box-sizing: border-box;
  margin: 4vh 16vh;
}
.header-container {
  display: flex;
  justify-content:space-between;
  height: 20px;
  margin-bottom: 3vh;
}
.header {
  font-weight: 500;
}
.signout-button {
  color: rgb(0, 0, 0);
  padding: 7px 3px;
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.budget-form {
  display: flex;
  flex-direction: column;
}
.save-budget-button {
  width: 100px;
  margin-top: 1vh;
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 1vh;
  cursor: pointer;
  /* margin-bottom: 1vh; */
}
.input-budget {
  height: 5vh;
  padding-left: 1vh;
}
.display-budget {
  color: rgba(0, 0, 0, 0.568);
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 340px;
}
.budget {
  background-color: rgba(95, 95, 95, 0.194);
  padding: 2.5vh 0;
  padding-left: 2vh;
  padding-right: 30vh;
  border-radius: 3px;
  font-size: 13px;
  flex: 2;
}
.remaining {
  background-color: rgba(0, 128, 0, 0.194);
  padding: 2.5vh 0;
  padding-left: 2vh;
  padding-right: 30vh;
  border-radius: 3px;
  font-size: 13px;
  flex: 2;
  margin-left: 2vh;
}
.spent {
  background-color: rgba(0, 0, 255, 0.253);
  padding: 2.5vh 0;
  padding-left: 2vh;
  padding-right: 30vh;
  border-radius: 3px;
  font-size: 13px;
  flex: 3;
  margin-left: 2vh;
}
.save-expense-button {
  width: 60px;
  margin-top: 2vh;
  color: rgb(255, 255, 255);
  background-color: rgba(13, 110, 253, 255);
  border-radius: 4px;
  padding: 1vh;
  cursor: pointer;
  border: none;
}
.add-expense-container {
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  width: 100%;
}
.expense-form {
  display: flex;
  flex-direction: column;
}
.sub-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
.cost-container {
  margin-left: 2vh;
}
.input-box {
  padding: 4.5px;
}
.li-container {
  border: 1px solid rgb(180, 179, 179);
  border-radius: 2px;
  padding: 1vh;
  font-size: 15px;
  scrollbar-color: blue;
}
.cost-text {
    background-color: rgb(29, 137, 156);
    float: right;
  color: white;
  font-size: 11px;
  padding: 3px;
  border-radius: 3px;
}
.remove-button{
    float: right;
    margin-left: 1vh;
    border-radius: 10px;
    cursor: pointer;
}
.lists {
  list-style: none;
  overflow-y: auto;
  max-height: 90px;
}
.expenses-heading {
  font-size: 25px;
  font-weight: 500;
  margin-top: 5vh;
}

.expenses-container{
    display: flex;
    justify-content: space-between;
}
.clear-expenses-button{
    height: 40px;
    margin-top: 4vh;
    display: flex;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}